services:
  messagebroker:
    image: messagebroker
    build:
      context: .
      dockerfile: MessageBroker/Dockerfile
    ports:
      - "9096:9096"  # Expose the TCP server port
    environment:
      - Port=9096
      - Address=0.0.0.0  # Listen on all interfaces in container
      - MessageBrokerEnv_Logger__BaseUrl=http://logger:8080
    networks:
      - pubsub-network
    restart: unless-stopped

  logger:
    build:
      context: .
      dockerfile: Logger/Dockerfile
    environment:
      - ASPNETCORE_URLS=http://+:8080
    ports:
      - "5022:8080"
    networks: [pubsub-network]
    restart: unless-stopped

networks:
  pubsub-network:
    driver: bridge