services:
  messagebroker:
    image: messagebroker
    platform: linux/amd64
    build:
      context: .
      dockerfile: MessageBroker/src/Dockerfile
      platforms:
        - linux/amd64
    ports:
      - "9096:9096"  # Expose the TCP server port
      - "9098:9098"  # Expose the TCP subscriber port
      - "5001:5001" # for ASP.NET Core (SignalR)
    environment:
      - MessageBrokerEnv_Server__PublisherPort=9096
      - MessageBrokerEnv_Server__SubscriberPort=9098
      - MessageBrokerEnv_Server__Address=0.0.0.0  # Listen on all interfaces in container
      # - MessageBrokerEnv_Logger__BaseUrl=http://logger:8080
    networks:
      - pubsub-network
    restart: unless-stopped

  schemaregistry:
    image: schemaregistry
    platform: linux/amd64
    build:
      context: .
      dockerfile: SchemaRegistry/src/Dockerfile
      platforms:
        - linux/amd64
    ports:
      - "8081:8080"
    environment:
      - ASPNETCORE_URLS=http://+:8080
    networks:
      - pubsub-network
    restart: unless-stopped
  
  #  logger-frontend:
  #    image: nginx:alpine
  #    volumes:
  #      - ./LoggerFrontend:/usr/share/nginx/html:ro
  #    ports:
  #      - "8088:80"
  #    networks:
  #      - pubsub-network
  #    restart: unless-stopped

  pubsubdemo:
    image: pubsubdemo
    platform: linux/amd64
    build:
      context: .
      dockerfile: PubSubDemo/Dockerfile
      platforms:
        - linux/amd64
    environment:
      - PUBSUB_Broker__Host=messagebroker
      - PUBSUB_Broker__Port=9096
      - PUBSUB_Broker__SubscriberPort=9098
      - PUBSUB_SchemaRegistry__BaseAddress=http://schemaregistry:8080
      - PUBSUB_Demo__MessageInterval=1000
      - PUBSUB_Demo__Topic=default
    networks:
      - pubsub-network
    depends_on:
      - messagebroker
      - schemaregistry
    restart: unless-stopped

  frontend:
    image: frontend
    platform: linux/amd64
    build:
      context: .
      dockerfile: frontend/Dockerfile
      platforms:
        - linux/amd64
    ports:
      - "3000:80"
    networks:
      - pubsub-network
    depends_on:
      - messagebroker
    restart: unless-stopped

networks:
  pubsub-network:
    driver: bridge