services:
  messagebroker:
    image: messagebroker
    platform: linux/amd64
    build:
      context: .
      dockerfile: MessageBroker/Dockerfile
      platforms:
        - linux/amd64
    ports:
      - "9096:9096"  # Expose the TCP server port
      - "5000:5000" # for ASP.NET Core (SignalR)
    environment:
      - MessageBrokerEnv_Port=9096
      - MessageBrokerEnv_Address=0.0.0.0  # Listen on all interfaces in container
      # - MessageBrokerEnv_Logger__BaseUrl=http://logger:8080
    networks:
      - pubsub-network
    restart: unless-stopped

#  logger-frontend:
#    image: nginx:alpine
#    volumes:
#      - ./LoggerFrontend:/usr/share/nginx/html:ro
#    ports:
#      - "8088:80"
#    networks:
#      - pubsub-network
#    restart: unless-stopped

  pubsubdemo:
    image: pubsubdemo
    platform: linux/amd64
    build:
      context: .
      dockerfile: PubSubDemo/Dockerfile
      platforms:
        - linux/amd64
    environment:
      - PUBSUB_Broker__Host=messagebroker
      - PUBSUB_Broker__Port=9096
      - PUBSUB_Demo__MessageInterval=1000
    networks:
      - pubsub-network
    depends_on:
      - messagebroker
    restart: unless-stopped

networks:
  pubsub-network:
    driver: bridge