services:
  messagebroker:
    image: messagebroker
    build:
      context: .
      dockerfile: MessageBroker/Dockerfile
    ports:
      - "9096:9096"  # Expose the TCP server port
      - "5000:5000" # for ASP.NET Core (SignalR)
    environment:
      - Port=9096
      - Address=0.0.0.0  # Listen on all interfaces in container
    networks:
      - pubsub-network
    restart: unless-stopped

networks:
  pubsub-network:
    driver: bridge